/* delete all these classes once the MVP supercedes these
*/ 
.inp-summoner-name-search-bar {
  margin: 2px;
  padding: 5px 2px;
  border: 1px solid black;
}

.btn-summoner-name-search { 
  background: lightgray;
	color: inherit;
	border: none;
	cursor: pointer;
  margin: 2px;
  padding: 7px 3px 7px 3px;
}

.search-bar {
  width: 100%;
  text-align: center;
}

.main-content {
  margin: auto;
  width: 50%;
  border: 3px solid rgb(68, 156, 156);
  padding: 10px;
}

.table-matches {
  width: 100%
}

.table-header {
  text-align: left;
}

.table-col {
  word-wrap: break-word;
  max-width: 100px;
  padding: 8px;
}

.table-row {
  border-bottom: 1px solid black;
}

.last-games {
  text-align: center;
  margin: auto;
  width: 50%;
}

.table-matches {
  padding-top: 20px;
}

.no-matches {
  color: darkgray;
  margin: auto;
  text-align: center;
}